* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: inline;
    width: 300px;
    height: auto;
    padding: 5px;
    border: 2px groove gold;
}

html {
    font-size: 1.8rem;
    font-family: "Playfair Display", sans-serif;
}

header {
  background-image: url(fotor-ai-2024062794042.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 73%;
  background-color: rgb#003b49;
  padding: 10px;
  box-shadow: 0px 5px 5px rgb(207, 166, 146); 
    
    
}

.header__container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
  
    .logo {

      width: 10%;
      border-radius: 50%;
    }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    width: 700px;
    border-radius: 10px;
    background: #003b49;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;
  }
  
  .nav--list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .nav__item {
    position: relative;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: 0 30px;
    border: 2px solid #f2c75c;
    overflow: hidden;
  }
  
  .nav__item a {
    font-size: 16px;
    text-transform: uppercase;
    color: #f2c75c;
    z-index: 10;
    text-decoration: none;
    transition: color 200ms ease;
  }
  
  .nav__item:hover a {
    color: #003b49;
  }
  
  .nav__item:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    transform: skew(30deg);
    background: #f2c75c;
    transition: width 400ms ease;
  }
  
  .nav__item:hover:before {
    width: 120%;
  }
  
  .nav__item:nth-child(2):before {
    transform: skew(-20deg);
  }
  
  .nav__item:nth-child(3):before {
    transform: skew(0deg);
  }
  
  .nav__item:nth-child(4):before {
    width: 180px;
    height: 0%;
    bottom: 0px;
    transition: height 400ms ease;
  }
  
  .nav__item:nth-child(4):hover:before {
    height: 100%;
  }

  

 /* // PAGE CONTENT ----------------------------------------------------------------------------------------------------------*/

 body {
  background-color: #003b49;
}

main {
  
  margin-inline: auto;
    width: 95%;
    height: auto;
    border-radius: 10px;
    color: #f2c75c;
    background-image: url(Beaver\ Creek.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.main__myStory {
    margin: 10px;
    padding: 15px;
    font-size: 1rem;
    background-color: #003a495e;
    
}
.section__one {
  margin: 20px;
  padding: 5px;
  background-color: #003a49de;
  border: 3px groove #f2c75c;

}

.main__imageLeft {

    float: left;
    margin: 15px;
    border-radius: 5%;
}

.section__two {
  margin: 30px;
  padding: 15px;
  background-color: #003a49de;
  border: 3px groove #f2c75c;

}
.main__imageRight {
    float: right;
    margin: 15px; 
    border-radius: 5%;
}

.section__three {
  margin: 20px;
  padding: 5px;
  background-color: #003a49de;
  border: 3px groove #f2c75c;

}

.main__h3 {

  text-decoration: underline;
}

li.main__community {
  margin-left: 4em;
}


footer {
  background-image: url(fotor-ai-2024062794042.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 78%;
  background-color: rgb(70, 70, 209);
  padding: 15px;
  text-align: center;
  color: #f2c75c;
  display: flex;
  justify-content: center;
  
}
.footer__copywrite {
  background-color: #003b49;
  border-radius: 10px;
  width: 600px;
  text-align: center;
}


@media screen and (max-width: 375px) {

  html {
    font-size: 1.5rem;
  }

  img {
    display: block;
  }

  nav {
    height: auto;
    width: 90%;
  }

  .nav--list  {
    width: 90%;
  }

  .nav__item {
    width: 90%;
    height: auto;
    margin: 0px 5px;
  }

  .nav__item a {
    font-size: .4rem;
  }

  .main__imageRight {
    display: block;
    width: auto;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    float: none;
}

.main__imageLeft {
    display: block;
    width: auto;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 25px;
    float: none;
}
}

@media screen and (max-width: 690px) {

  html {
    font-size: 1.5rem;
  }

  img {
    display: block;
  }

  nav {
    height: auto;
    width: 90%;
  }

  .nav--list  {
    width: 90%;
  }

  .nav__item {
    width: 90%;
    height: auto;
    margin: 0px 5px;
  }

  .nav__item a {
    font-size: .4rem;
  }

  .main__imageRight {
    display: block;
    width: auto;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    float: none;
}

.main__imageLeft {
    display: block;
    width: auto;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 25px;
    float: none;
}

li.main__community {

  margin-left: 1em;
}
}