/* // HTML RESET */

*,
::before,
*::after  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: inline;
    
    width: 300px;
    height: auto;
}

html {
    font-size: 2rem;
}

/* // NAVIGATION MENU */

header {
    background-image: url(mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(70, 70, 209);
    padding: 10px;
    box-shadow: 0px 5px 15px tan;
    
    
}

.container {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    width: 700px;
    border-radius: 10px;
    background: #003b49;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;
  }
  
  .nav--list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .item {
    position: relative;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: 0 30px;
    border: 2px solid #f2c75c;
    overflow: hidden;
  }
  
  .item a {
    font-size: 16px;
    text-transform: uppercase;
    color: #f2c75c;
    z-index: 10;
    text-decoration: none;
    transition: color 200ms ease;
  }
  
  .item:hover a {
    color: #003b49;
  }
  
  .item:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    transform: skew(30deg);
    background: #f2c75c;
    transition: width 400ms ease;
  }
  
  .item:hover:before {
    width: 120%;
  }
  
  .item:nth-child(2):before {
    transform: skew(-20deg);
  }
  
  .item:nth-child(3):before {
    transform: skew(0deg);
  }
  
  .item:nth-child(4):before {
    width: 180px;
    height: 0%;
    bottom: 0px;
    transition: height 400ms ease;
  }
  
  .item:nth-child(4):hover:before {
    height: 100%;
  }
  

body {
    background-image: url(Beaver\ Creek.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(114, 52, 52);
    min-height: 100vh;
    
}

main {
    background-color: bisque;
    margin: 0 50px;
    outline: 5px solid #003b49;
    width: 80vw;
    margin: auto;
    border-radius: 10px;
}



img.shake {
    float: right;
    margin: 10px;
}

div.summary {
    margin: 30px;
    padding: 15px;
}

footer {
    background-image: url(mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(70, 70, 209);
    padding: 15px;
  position: sticky;
  top: 100%;
  text-align: center;
  color: #f2c75c;
  display: flex;
  justify-content: center;
  
}
.copywrite {
  background-color: #003b49;
  border-radius: 10px;
  width: 600px;
  text-align: center;
}


@media screen and (max-width: 375px) {

  html {
    font-size: 1.5rem;
  }

  img {
    display: block;
  }

  nav {
    height: auto;
    width: 90%;
  }

  .nav--list  {
    width: 90%;
  }

  .item {
    width: 90%;
    height: auto;
    margin: 0px 5px;
  }

  .item a {
    font-size: .4rem;
  }

  img.shake {
    display: block;
    width: auto;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    float: none;
  }
}

@media screen and (max-width: 690px) {

  html {
    font-size: 1.5rem;
  }

  img {
    display: block;
  }

  nav {
    height: auto;
    width: 90%;
  }

  .nav--list  {
    width: 90%;
  }

  .item {
    width: 90%;
    height: auto;
    margin: 0px 5px;
  }

  .item a {
    font-size: .4rem;
  }

  img.shake {
    display: block;
    width: auto;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    float: none;
  }
}